[2021-02-19 20:06] heiqs commented on #257
Take a look at /var/log/cloud-init-output.log. There, you should find all logs related to that.

[2021-02-21 10:35] cheunhong opened #259 "What are the necessary permissions to grant to the service account for GCPCluster."
Hi, I am having trouble trying to grant the necessary permission for my service account to work for GCPCluster. If I grant it an ```Editor``` role, it works fine, but when I grant it only the few individual policies. It just throws error. I have already granted these few policies.
[code]
Really am not sure what else is needed for it to work.

--
**What happened**:
[code]
**What you expected to hap

[2021-02-21 11:25] cheunhong commented on #259
Found the necessary role to grant for that service account to work which is ```Service Account User```.  Will be closing the issue.

[2021-02-21 11:25] #259 closed

[2021-02-22 17:37] jacobtomlinson commented on #257
Instead of instantiating the class like `cluster = AzureVMCluster(...)` could someone try running `pint(AzureVMCluster.get_cloud_init(...))` with the same args and kwargs. This should print the cloud init which is being run by the VM so we can see what is wrong.

[2021-02-22 17:49] quasiben commented on #257
[code]

[code]

[2021-02-22 17:51] quasiben commented on #257
Long term I think we should do at least one possibly two things:

1) log/print the cloud init spec which gets shipped
2) (just for azure) optionally define a password for ssh access

[2021-02-23 09:36] jacobtomlinson commented on #257
Thanks @quasiben. Looks like env vars aren't being quoted correctly. This has been resolved in #258.

To your specific points

1. I worry about polluting stdout. Do you better documentation around inspecting the cloud init would be ok?
2. Absolutely, I'll raise an issue. For AWS we optionally allow an SSH key name to be specified for debugging. GCP allows you to grab a terminal on the instance lat

[2021-02-23 09:36] #257 closed

[2021-02-23 09:42] jacobtomlinson commented on #254
The `SpecCluster` class already has support for setting an `external_address` option for the scheduler `ProcessInterface`.

https://github.com/dask/distributed/blob/7146449173c0329463ca39b98ba51087278853d5/distributed/deploy/spec.py#L310-L313

The idea being that you set `self.address` to the private IP and `self.external_address` to the public IP. Workers will connect on the private address but t

[2021-02-23 11:10] C-H-Simpson commented on #257
They still aren't there. Note that I'm trying to do this from within a jupyterlab running on azure, so maybe that changes things.

[2021-02-23 11:24] #239 closed

[2021-02-23 11:55] jacobtomlinson commented on #257
That file will exist on the Dask nodes, not the Jupyter Lab instance.

[2021-02-23 13:36] quasiben commented on #257
Yes, docs I think would also solve this problem -- good idea

[2021-02-23 14:36] #252 closed

[2021-03-01 18:36] mreyesgomez commented on #257
So this is the correct way to do it?

[2021-03-02 12:03] jacobtomlinson commented on #257
This doesn't create the cluster. Instead it prints the cluster cloud init config. It is useful for debugging.

[2021-03-02 13:14] 0xffea opened #260 "Add support for Hetzner cloud provider"
Add support for Hetzner cloud vServers via hcloud python library.

[2021-03-02 15:17] 0xffea commented on #260
WIP: https://github.com/0xffea/dask-cloudprovider/tree/hetzner

[2021-03-02 17:37] jacobtomlinson commented on #260
This would be great! I look forward to reviewing the PR 😄.

[2021-03-05 20:47] kinghuang opened #261 "Option to not specify launchType in ECS task"
When using ECSCluster, the generated ECS task includes `"launchType": "FARGATE" if self.fargate else "EC2"` ([ec2.py#L247](https://github.com/dask/dask-cloudprovider/blob/adca69c94348181daa4f56cac8ab9597081483bd/dask_cloudprovider/aws/ecs.py#L247)). This makes it impossible to use the default capacity provider for an ECS cluster, by not specifying `capacityProviderStrategy` or `launchType`.

From

[2021-03-05 22:17] kinghuang opened #262 "ECSCluster does not de-provision tasks after failing to connect to scheduler"
**What happened**:

If ECSCluster successfully runs a scheduler task but then fails to connect to the scheduler, an error is raised and the scheduler task is left active. The task has to be manually removed from the ECS cluster and deregistered.

In my case, this happened when I forgot to connect to a VPN network that would provide connectivity to the VPC. The task successfully ran, but no network

[2021-03-05 22:53] kinghuang opened #263 "ECSCluster raises error on exit for scheduler that has already stopped"
**What happened**:

Using a Python REPL, if I create a Dask cluster using ECSCluster, wait for the scheduler to shut down from inactivity, then exit Python, an error is thrown by the exit handler because the scheduler is no longer reachable.

[code]

**What you expected to happen**:

ECSCluster should ignore the already finished scheduler task, and continue with any other clean up as necessary.

*

[2021-03-08 09:59] jacobtomlinson commented on #261
Thanks for raising this @kinghuang. That sounds like a reasonable request.

Do you have any interest in raising a Pull Request to resolve this?

[2021-03-08 10:03] jacobtomlinson commented on #263
Thanks @kinghuang!

I'm going to move this over to distributed because I think this could affect all implementations of `SpecCluster`.

As part of the `SpecCluster` shutdown we attempt to gracefully stop workers via the Dasdk comm before we forcefully remove their resources. If the Dask comm is unavailable due to the scheduler exiting prematurely this exception is raised.

[2021-03-08 16:44] kinghuang commented on #261
Interest, yes. But, lacking in available time. :)

I'll circle back to this later in the month, if no one else picks it up!

[2021-03-10 11:56] jacobtomlinson commented on #244
Another note that I just spotted. Read The Docs was still building `latest` from the `master` branch and builds were failing. It was configured to build from the default branch, but I think it had cached the value `master` somewhere. I manually pointed this to `main` in the RtD control panel and things seem ok again now.

cc @jrbourbeau @jsignell as it may be worth checking other projects too.

[2021-03-10 15:42] jrbourbeau commented on #244
Will do, thanks for the heads up @jacobtomlinson

[2021-03-10 16:31] jacobtomlinson commented on #244
The same issue also came up on `dask-kubernetes`.

[2021-03-10 16:42] jsignell commented on #244
I imagine this will come up in all the projects. Would it help for me to go through all the repos and open a ticket about this? Or is it sufficient for someone to just get in and change them all?

[2021-03-10 16:45] jacobtomlinson commented on #244
It might be worth opening issues as permissions in RtD are a little more ad-hoc than GitHub. There are no orgs so folks have to be added to each project manually.

Perhaps @jrbourbeau or @mrocklin have been added to enough projects to be able to go through and fix everything? But I do not.

[2021-03-12 23:22] manuelreyesgomez commented on #262
Same problem with AzureVMCluster

... resource_group=resource_group,
... location = location,
... vnet=vnet,
... security_group=security_group,
... n_workers=initial_node_count,
... vm_size=vm_size,
... docker_image=base_dockerfile,
... docker_args="--privileged",
... auto_shutdown=False,
... security=False,
... env_vars={"EXTRA_PIP_PACKAGES": EXTRA_PIP_PACKAGES},
... worker_class="dask_cuda.CUDAW

[2021-03-12 23:26] manuelreyesgomez commented on #262
It happened with both dask-cloudprovider[azure]==2021.1.1 and dask-cloudprovider[azure]==2021.3.0

[2021-03-15 10:27] jacobtomlinson commented on #262
As this seems to be a general problem with cluster managers based on `SpecCluster` I've raised an upstream issue dask/distributed#4589.

[2021-03-15 16:34] jacobtomlinson commented on #262
@manuelreyesgomez I've seen `struct.error: unpack_from requires a buffer of at least 8 bytes` a bunch recently and is usually due to mismatched Dask versions.

Please check your local dask/distributed versions match those in the container you are using.

[2021-03-15 17:06] manuelreyesgomez commented on #262
@jacobtomlinson By container you mean the docker_image used in the constructor?

From a new Conda environment I pip install the latest version of the dask-cloudprovider[azure] and then run

resource_group = "NGC-AML-Quick-Launch"
workspace_name = "NGC_AML_Quick_Launch_WS"
vnet="NGC-AML-Quick-Launch-vnet"
security_group="NGC-AML-Quick-Launch-nsg"
initial_node_count = 2
vm_size = "Standard_NC12s_v3"

[2021-03-15 17:21] jacobtomlinson commented on #262
Yes.

This is not enough in itself. This will install `dask-cloudprovider` but as `dask` and `distributed` are already installed it will just go with those.

You could either check the package versions in the container and install them locally, or you could set `EXTRA_PIP_PACKAGES` to something like `--upgrade dask distributed dask-cloudprovider[azure]` to force an upgrade to the latest versions i

[2021-03-15 17:32] manuelreyesgomez commented on #262
Thanks would try that then

[2021-03-15 18:27] manuelreyesgomez commented on #262
@jacobtomlinson It seemed to have worked, thanks

[2021-03-15 23:02] kinghuang commented on #261
I'll pick this up on Wednesday.

[2021-03-18 01:34] lostmygithubaccount opened #268 "Reintroduce AzureMLCluster"
# Feature request: AzureMLCluster

Background: long ago, `AzureMLCluster` was added as the second "cloud provider" in this repository. There were some problems described in #206 and [issues](https://github.com/dask/dask-cloudprovider/issues?q=is%3Aissue+label%3Aprovider%2Fazure%2Fazureml+). The implementation was deprecated after the introduction of `AzureVMCluster`.

Since, `azureml-core` has sta

[2021-03-18 11:05] jacobtomlinson commented on #268
Thanks @lostmygithubaccount. I would be very much in favour of having a new implementation for AzureML with better stability.

I know of some organisations that only give their staff access to AzureML and not the rest of Azure, so they have been left behind in the switch to `AzureVMCluster`.

We can definitely work through the problems you raised and find appropriate solutions. I expect some work

[2021-03-18 11:19] DPeterK commented on #268
As I remember it, I was one of a few proponent voices for the original `AzureMLCluster`, so I'd very much be in support of a reimplementation of the functionality! Particularly if the new implementation is able to be more independent of the wider stack used to implement AzureML.

What I particularly liked about `AzureMLCluster` was that it was all self-contained within AzureML. This seemed to be a

[2021-03-22 08:59] heiqs opened #269 "Cluster creation hangs using daskdev/dask-notebook as the docker image"
After issuing command like `DropletCluster(docker_image='daskdev/dask-notebook')`, I can see that the scheduler is created with a running jupyter. However, the cluster creation hangs. Expected behavior is outputting the link to the Jupyter dashboard. Also, no worker is spawned!

**Environment**:

- Dask version: 2021.3.0
- Dask Cloud Provider version: 2021.3.0
- Python version: 3.8
- Operating Sys

[2021-03-22 10:19] #261 closed

[2021-03-22 10:22] jacobtomlinson commented on #269
I'm not sure this will work as you expect. This package is for launching Dask, not Jupyter.

You have chosen an image that has Jupyter installed, but it will not be run, the Dask scheduler will be run.

The fact it is hanging is a worry. It shouldn't hang. Could you SSH to the scheduler droplet that is created and share the contents of `/var/log/cloud-init-output.log`.

[2021-03-22 10:29] heiqs commented on #269
here is the output.

`Cloud-init v. 20.3-2-g371b392c-0ubuntu1~20.04.1 running 'init-local' at Mon, 22 Mar 2021 07:57:03 +0000. Up 5.81 seconds.
Cloud-init v. 20.3-2-g371b392c-0ubuntu1~20.04.1 running 'init' at Mon, 22 Mar 2021 07:57:06 +0000. Up 8.40 seconds.
ci-info: +++++++++++++++++++++++++++++++++++++++Net device info+++++++++++++++++++++++++++++++++++++++
ci-info: +--------+------+-----------

[2021-03-22 10:49] jacobtomlinson commented on #269
Ah ok that makes sense. Thanks for promptly sharing that.

My guess here is that the entrypoint in the container you are using starts Jupyter and never lets things continue to also start the Dask Scheduler.

The `DropletCluster` class is sitting waiting for Dask to start.

Just to re-clarify, this is not the intended use of Dask Cloudprovider. These cluster managers are designed to start Dask clus

[2021-03-22 10:49] #269 closed

[2021-03-22 10:58] heiqs commented on #269
Ok. I thought I could use any dask image as it is mentioned in dask documentation. and I second what you pointed about the entry point. Thanks for your quick update.

[2021-03-22 12:45] jacobtomlinson commented on #269
Where is this mentioned in the documentation? We should probably clarify.

[2021-03-23 21:11] ahah-figure opened #272 "ssd option for GCPCluster"
It would be nice to be able to specify ssds for the nodes when you instantiate a GCPCluster. For example, when you create a cluster in gcloud, you can pass parameters like

    --master-boot-disk-type pd-ssd
    --worker-boot-disk-type pd-ssd

[2021-03-23 21:14] jrbourbeau commented on #272
Thanks for raising an issue @ahah-figure! I've transferred this issue over to `dask-cloudprovider` as that's the relevant project for `GCPCluster`

[2021-03-24 09:53] jacobtomlinson commented on #272
It looks like we are setting this here

https://github.com/dask/dask-cloudprovider/blob/bc949ee2d8cfa6161c4e424973356ac007fd599e/dask_cloudprovider/gcp/instances.py#L113

It would be great to make this configurable.

[2021-03-24 12:18] #272 closed

[2021-03-26 03:19] manuelreyesgomez opened #275 "AzureVMCluster constructor hanging after creating the scheduler"
Installation of dask-cloudprovider[azure] (pip install dask-cloudprovider[azure] ) was done in a Python 3.8 new conda environment

**Minimal Complete Verifiable Example**:

[code]

Run printout:

[code]

**Code just hangs there**

The scheduler can be found on the Azure Portal and it does not seem to report issues on log file

Same code was working early today

**Environment**:

- Dask version:'20

[2021-03-26 03:20] manuelreyesgomez commented on #275
@jacobtomlinson This is running straight on the command line it was working earlier today

[2021-03-26 10:33] jacobtomlinson commented on #275
Thanks for raising this Manuel.

Given the command worked previously and is now hanging on the scheduler creation I would suggest this is a problem with Azure starting up the VM.

Some debugging steps you could try:
- Ensure your local Python version matches the version in the container image you are using.
- Check the VM has been created in Azure.
- Check your firewall rules allow access to ports

[2021-03-26 14:21] manuelreyesgomez commented on #275
@jacobtomlinson

- Ensure your local Python version matches the version in the container image you are using.
   I had issues before with python mistmatch so since then I make sure everything is consistemt
- Check the VM has been created in Azure
   The scheduler is created, but not the workers.
- Check your firewall rules allow access to ports 8786 and 8787 and haven't been modified.
  I check in

[2021-03-28 20:29] scottcha commented on #275
Are you sure you are actually using dask version 2012.3.0?  I noticed that 2021.3.1 was updated a couple days ago in the daskdev docker images and my scheduler creation was hanging on that version as well.  Specifying the docker image for 2021.3.0 allowed it to start working again.

[2021-03-29 08:47] jacobtomlinson commented on #275
This issue was raised before the `2021.3.1` release.

We got to the bottom of it, the docker image being pulled was bigger than the default OS disk. So in #276 we made the disk size configurable.

Closing.

[2021-03-29 08:47] #275 closed

[2021-03-29 19:20] manuelreyesgomez commented on #275
@jacobtomlinson Yeah we figured what was the cause of the hanging behavior on this case. Hanging behavior has been reported before when there has been a problem instantiating the workers. I think the more general bug is why the run is hanging as opposed to crashing and reporting the error

[2021-03-30 08:56] jacobtomlinson commented on #275
Yeah you make a good point @manuelreyesgomez. I'm going to open a new issue to track an improvement to resolve that.

[2021-03-30 09:24] jacobtomlinson opened #277 "VMClusters can hang if something fails on the cloud provider"
When launching clusters that extend `VMCluster` there is a failure mode where the cluster manager can just hang on creation, perhaps indefinitely.

The reason this happens is that we submit the Dask scheduler to each cloud provider as a VM with a preconfigured startup script using [cloud init](https://cloudinit.readthedocs.io/en/latest/). You can view this script by setting the `debug=True` flag a

[2021-03-30 09:24] jacobtomlinson commented on #275
see #277

[2021-03-30 09:31] jacobtomlinson commented on #277
cc @quasiben it would be good to get your input here

[2021-03-31 08:43] jacobtomlinson commented on #262
Thanks @manuelreyesgomez.

Deserialization issues tend to be either a Python or Dask version mismatch between your local environment and the docker image.

In terms of cleaning up after failure this is covered in #277

[2021-03-31 19:57] manuelreyesgomez commented on #262
@jacobtomlinson Thanks that was it, seems one needs to have a tight control on the package versions when doing pip installs on top the docker image. will comment on the cleanup after failure

[2021-03-31 20:00] manuelreyesgomez commented on #277
@jacobtomlinson I agree with the security concerns on exposing ports by default but leaving it optional, so people could use the ssh access when developing and /or testing while keeping it shut in production. Option 3 sounds very reasonable

[2021-04-05 22:39] manuelreyesgomez opened #278 "cluster.stop() and cluster.restart(cluster_id) methods for AzureVMCLuster class"
The close() method deletes the cluster from Azure

But what if the user has done work on it and has saved work into the scheduler and wants to later come back and pick up where it stopped

It would be great if the user could stop the cluster which would stop all VMs but not delete them and that the user could later come back and restart the cluster by passing its ID

[2021-04-09 09:31] joyofdata opened #279 "Specification of required permissions for deploying Dask Cluster on GCP"
Hello!

If I'm not mistaken then there is no documentation regarding the required permissions for the Service Account used for deploying the Dask cluster on GCP.

With regard to deploying a cluster using the following code:

[code]
That deployment succeeds if I attach the Project Owner role to the Service Account but fails with Compute Admin role.
Using the Project Owner role would obviously be no

[2021-04-09 09:45] jacobtomlinson commented on #278
Absolutely! This work is in the pipeline as part of the integration with [dask-ctl](https://github.com/dask-contrib/dask-ctl).

Today it is possible to avoid the cluster being shutdown by setting the `shutdown_on_close` attribute to `False` on the cluster manager. However this is not currently advertised in this project as there is no way to reconstruct the cluster object with an existing cluster.

[2021-04-09 23:23] brkeating opened #280 "FargateCluster does not accept region kwarg"
**Minimal Complete Verifiable Example**:

[code]

**What happened**:

`TypeError: __init__() got an unexpected keyword argument 'region'`

**What you expected to happen**:

Creation of a valid `FargateCluster` object.

**Environment**:

- Dask version: 2021.3.1
- Python version: 3.9.2
- Operating System: OSX 10.14
- Install method (conda, pip, source): pip 21.0.1 inside a fresh conda env

[2021-04-09 23:24] #280 closed

[2021-04-09 23:43] brkeating commented on #280
The argument is `region_name`; `region` is for an `EC2Cluster`. It would be nice if these were consistently named

[2021-04-10 08:50] joyofdata commented on #279
Compute Admin role + **Service Account User** role works.

Next question would be how to replace Compute Admin role with something less powerful / more specific.

[2021-04-12 08:51] jacobtomlinson commented on #280
Agreed. Do you have any interest in raising a PR to align them?

[2021-04-12 08:55] jacobtomlinson commented on #279
I agree it would be good to document the required permissions for all cluster managers. I think we only have this for `ECSCluster`/`FargateCluster` today.

Poking through the code here the only call we make with the `googleapiclient` are:
- Suthenticate with service account or user credentials
- Create a VM
- List VMs
- Delete a VM

[2021-04-12 08:56] jacobtomlinson commented on #279
@joyofdata could you share what error you get when only using a Compute Admin role.

[2021-04-12 09:41] joyofdata commented on #279
[code]

[2021-04-12 10:20] jacobtomlinson commented on #279
And when you ran that did you see the scheduler VM get created in the GCP console?

[2021-04-12 10:30] joyofdata commented on #279
Using only Compute Admin role and [above code](https://github.com/dask/dask-cloudprovider/issues/279#issuecomment-817658276) will cause the instance to be launched and immediately being stopped.

By trial and error I found the following list of required permissions which seem to be sufficient for creating a cluster (again - using [above code](https://github.com/dask/dask-cloudprovider/issues/279#i

[2021-04-12 11:48] TomAugspurger commented on #268
Cody and Jacob, do you have a sense for whether an AzureMLCluster (v2) would be easier to build and maintain now that we have the Base VMCluster class in place? With the talk of using MPI (just for setup? not for comms I assume?) I'm not too hopeful that that's the case.

[2021-04-12 15:25] lostmygithubaccount commented on #268
What's your concern? With using MPI?

[2021-04-12 15:56] jacobtomlinson commented on #268
@TomAugspurger I'm not sure `VMCluster` is the best base class for `AzureMLCluster`. I think part of the problem is to do with the architecture of `SpecCluster`.

`SpecCluster` has a 1:1 mapping between scheduler/worker class instances and the real resources. It starts up the scheduler, connects the command then starts up workers. This works well for systems where resources are created independent

[2021-04-12 16:02] jacobtomlinson commented on #279
Thanks for gathing that list, it's really helpful. I'm just a little confused because the Compute Admin role has `compute.*` permissions, so that should include everything you listed.

Are there any error messages on the stopped instance?

[2021-04-12 16:04] TomAugspurger commented on #268
Less of a concern, more of a lack of understanding about where MPI fits in the picture of forming the cluster.

Thanks for the background Jacob. A variant of `SpecCluster` that fits this model does seem like it's worth investigating.

[2021-04-12 16:05] joyofdata commented on #279
But Service Account User role isn't a subset of Compute Admin role.

- Compute Admin role: doesn't work
- Service Account User role + Compute Admin role: works
- Service Account User role + [above list]: seems to work

[2021-04-15 19:44] drobison00 opened #281 "(GCP) `GCPCluster` Throws OAuth errors when attempting to create a new cluster."
**What happened**:
RefreshError: ('invalid_scope: Invalid OAuth scope or ID token audience provided.', '{"error":"invalid_scope","error_description":"Invalid OAuth scope or ID token audience provided."}')

**What you expected to happen**:
Cluster creation to succeed

**Minimal Complete Verifiable Example**:
- Successfully able to run `gcloud auth login`
- Subsequently able to run gsutil on a varie

[2021-04-15 21:02] quasiben commented on #281
Hmm, I'm not sure what the issue here is.  In addition to running gsutil commands can you also try a few gcloud compute compute commands to create machines ?  Perhaps you account does not have the correct perms to create compute instances ?

[2021-04-16 16:56] drobison00 commented on #281
@quasiben Just checked, something like this works fine with gcloud compute

`gcloud compute instances create drobisontest --project "<correct-project>" --machine-type "a2-highgpu-1g" --zone "us-central1-c"    --image-family tf2-ent-2-3-cu110    --image-project deeplearning-platform-release    --boot-disk-size 200GB    --metadata "install-nvidia-driver=True,proxy-mode=project_editors"    --scopes h

[2021-04-20 13:44] rpanai commented on #47
Hi @tracek do you need any help for this PR?

[2021-04-20 15:59] Nanthini10 commented on #277
@jacobtomlinson Any update on this? Running into cluster creation issues due to the hang, and not sure why the creation fails as we do not have access to the logs.

[2021-04-20 16:26] jacobtomlinson commented on #277
No update here I'm afraid. Which cluster manager are you using?

[2021-04-20 16:31] Nanthini10 commented on #277
`AzureVMCluster` with a RAPIDS 0.19 image. It worked before but I think something with the newer version is causing it to fail, unsure what that is.

Do you have a timeline on when we can expect a fix/update for this?

[2021-04-20 17:50] manuelreyesgomez commented on #277
@jacobtomlinson This is breaking functionality we are pushing to azure enterprise users

[2021-04-20 19:44] manuelreyesgomez commented on #277
@jacobtomlinson Do the possibility to request an increase on the VM disk size added to the constructor?

[2021-04-21 16:54] jacobtomlinson commented on #277
Let's take this discussion offline. This issue is discussing long term fixes to not getting feedback from failed clusters. I'll sync with you to figure out why your clusters are hanging and how to debug it. Rather than cluttering this issue with this conversation.

[2021-04-28 20:51] sharkinsspatial opened #282 "Issue with external address in SpecCluster"
**What happened**:
As part of a Prefect integration we are using dask_cloudprovider to create a temporary Dask cluster within an existing ECS Fargate cluster as outlined here https://docs.prefect.io/orchestration/flow_config/executors.html#using-a-temporary-cluster.  After reading through the address setting section here https://github.com/dask/dask-cloudprovider/blob/main/dask_cloudprovider/aws/e

[2021-04-28 20:51] sharkinsspatial opened #283 "Issue with external address in SpecCluster"
**What happened**:
As part of a Prefect integration we are using dask_cloudprovider to create a temporary Dask cluster within an existing ECS Fargate cluster as outlined here https://docs.prefect.io/orchestration/flow_config/executors.html#using-a-temporary-cluster.  After reading through the address setting section here https://github.com/dask/dask-cloudprovider/blob/main/dask_cloudprovider/aws/e

[2021-04-29 16:27] jacobtomlinson commented on #283
Can you try adding `"fargate_use_private_ip": False` to your kwargs?

[2021-05-03 04:44] eric-valente commented on #173
any progress here?

[2021-05-03 21:46] tracek commented on #47
Hi @rpanai - don't mind if I do. Sorry for the lag with answering, I missed the notification initially. I got the spot instances working, but then when I finally made the PR, I could not figure out how to deal with the delta to the present code. I will take another stab at it and see if I can get it to work. Are you familiar with the `cloudprovider` code? Asking since I am not sure how deal with s

[2021-05-04 09:15] jacobtomlinson commented on #173
@eric-valente with the latest release of `dask` and `distributed` you should be able to set `worker_options={"nprocs": "auto"}`. Although I haven't managed to come back here and test this yet.

If you could give it a go and report back it would be much appreciated!

[2021-05-04 09:16] jacobtomlinson commented on #47
Please don't hesitate to raise a PR, even if things aren't in a great state. We can always help you push it forwards but need something to start with.

[2021-05-04 17:37] bEpeGVUgPF commented on #277
Is there a guide for debugging this issue? I'm running into the same problem with EC2Cluster on AWS, I haven't done anything but configure the awscli and specified the number of workers, but the cluster is still hanging at the "Waiting for scheduler to run" stage.

I'm new to AWS and I've tried following the documents for EC2 but they are rather sparse. https://cloudprovider.dask.org/en/latest/aws

[2021-05-04 19:34] douglasdavis commented on #249
I've run into this, after digging around a bit with @martindurant we've noticed that `dask.config.config` is modified (and grows quite a bit with only default settings) upon importing `dask_cloudprovider` or `dask_cloudprovider.{aws,gcp}`. (reproducer below).

Would it be reasonable to drop the keys in the config dict that have defaults? (especially things that are in the config only to spin up cl

[2021-05-05 00:33] eric-valente commented on #173
Hi @jacobtomlinson  Tried it with packages and no luck.   The workers will turn on in EC2 and won't connect to the scheduler and then proceed to die.  When I remove the nprocs it works fine but again only has 1 worker per VM with threads = # of cores

worker_options={'nprocs':'auto'}

dask                      2021.4.1           pyhd8ed1ab_0    conda-forge
dask-cloudprovider        2021.3.1

[2021-05-05 14:17] eric-valente commented on #249
The only way I got things to work currently was to add security=False to the EC2Cluster instantiation, this removes the massive TLS strings for security and brings the size to under the EC2 limit.  The Zlib piece on @jacobtomlinson fixed it when I tested but its not in a release yet.

[2021-05-05 14:19] martindurant commented on #249
I would expect TLS certs to compress very poorly

[2021-05-05 14:56] jacobtomlinson commented on #173
Strange! Are you able to get any logs from the EC2 instances? They tend to get dumped in `var/log/cloud-init-output.log`.

[2021-05-05 15:12] eric-valente commented on #173
@jacobtomlinson

This error then worker dies:
![image](https://user-images.githubusercontent.com/35536427/117164431-77f31700-ad79-11eb-8257-8deb1d3bd6ec.png)

Here are my settings:
![image](https://user-images.githubusercontent.com/35536427/117164601-9eb14d80-ad79-11eb-8c90-7104c007f068.png)

[2021-05-05 19:23] sharkinsspatial commented on #283
@jacobtomlinson Apologies for the slow response.  Interestingly when using `"fargate_use_private_ip": False` I'm now seeing an empty address in the `distributed.scheduler` logs.
[code]

[2021-05-05 20:29] sharkinsspatial commented on #283
To provide a few more details our cluster is launched into a Vpc with public subnets via https://github.com/pangeo-forge/pangeo-forge-aws-bakery/blob/main/cdk/bakery_stack.py#L39.  The network details for my scheduler task report the public IP and the dashboard is accessible at that address.

[2021-05-06 13:36] jacobtomlinson commented on #283
That log message is correct, it is equivalent to `0.0.0.0:8787` which means the dashboard is available on all IPs of the machine.

[2021-05-06 13:37] jacobtomlinson commented on #277
@bEpeGVUgPF your best option today is to SSH to the VM (make sure you set up the SSH config when you create the cluster) and then check the `/var/log/cloud-init-output.log` file.

[2021-05-06 13:42] jacobtomlinson commented on #249
Yeah it's the TLS certs that really cause the size inflation. The zlib PR works but is not really a long term solution, it just kicks the problem down the road.

[2021-05-06 13:51] jacobtomlinson commented on #173
Thanks @eric-valente. You also need to set the `worker_class` kwarg to `"dask.distributed.Nanny"`.

The traceback you got above looks like a bug, I'll raise that back in distributed.

@quasiben what do you think about making `dask.distributed.Nanny` the default instead of `dask.distributed.Worker`?

[2021-05-06 17:28] fractionalhare opened #284 "Allow EC2 cluster to be created without a public IP attached"
Under the current behavior, `EC2Cluster` spins up schedulers with public IPs attached. There is no option to disallow the public IP. This is problematic from a security perspective, because it allows arbitrary inbound access and punts the problem to the security group.

The ECSCluster behavior allows passing `fargate_use_private_ip=True` to mitigate this problem. My feature request is that we repl

[2021-05-06 17:58] eric-valente commented on #173
Thanks again for your help here @jacobtomlinson

Tried setting the worker class to Nanny but still same issue:

![image](https://user-images.githubusercontent.com/35536427/117344131-edceaf80-ae59-11eb-81b4-6a05435c61bd.png)

![image](https://user-images.githubusercontent.com/35536427/117344091-e3141a80-ae59-11eb-9547-ab14577fcc21.png)

[2021-05-06 18:16] eric-valente commented on #173
https://github.com/dask/distributed/issues/4640 seems maybe related

[2021-05-06 19:53] eric-valente commented on #173
Seems dask.distributed.Nanny does not accept nprocs either

Fails with above init error:
--spec '{"cls": "dask.distributed.Nanny", "opts": {"nprocs": 4, "name": "dask-4ffc56fd-worker-dd6509e3"}}'

Works:
--spec '{"cls": "dask.distributed.Nanny", "opts": {"ncores": 4, "name": "dask-4ffc56fd-worker-dd6509e3"}}'

[2021-05-06 20:19] eric-valente commented on #173
Seems like the cloud-init to add a worker uses this style of starting a worker:
python -m distributed.cli.dask_spec tcp://x.x.x.x:8786 --spec {"cls": "distributed.nanny.Nanny", "opts": {"nprocs": 4, "name": "dask-4ffc56fd-worker-dd6509e3"}}

vs. this style:
dask-worker --nprocs=auto

[2021-05-06 20:20] quasiben commented on #173
+1 to making `dask.distributed.Nanny` the default.

[2021-05-06 23:57] eric-valente commented on #173
@jacobtomlinson  Yeah it seems like EC2Cluster uses python -m distributed.cli.dask_spec and passing in worker_class

![image](https://user-images.githubusercontent.com/35536427/117379261-efb16680-ae8b-11eb-90bd-967f309b7300.png)

As suggested above, I think you might need to accept multiiple workers defined in worker_options and skip nprocs?
[code]

[2021-05-07 08:45] jacobtomlinson commented on #284
Agree this would be useful. In the `GCPCluster` we have a config option called `public_ingress` which you can set to `False` to only use private IPs. We should add something similar to `EC2Cluster`.

[2021-05-07 08:47] jacobtomlinson commented on #173
It should be, have you tried it?

[2021-05-11 15:51] #260 closed

[2021-05-17 14:45] noppaz opened #287 "Allow the use of private IP even though ECS task has a public IP"
When initiating an ECS- or FargateCluster we have the option to `fargate_use_private_ip`. Depending on this boolean, the cluster object's scheduler_address will be either private or public.

This is limiting depending on the use cases:
1. Either, if we use `fargate_use_private_ip=True` we'll have no means of access internet resources without a NAT gateway. This includes the initial pull of the tas

[2021-05-20 16:02] mhnatiuk commented on #93
Hey, what the status on that? Trying to use private ECR, everything is set up, but my (im using EC2Cluster) scheduler dies after short time. Unfortunately, though running with debug, the only thing i get is my client waiting:
[code]
When i change `docker_image` argument to default (dask provided image), everything works. My own image provides `dask-scheduler` and `dask-worker` commands, as it's ba

[2021-05-21 11:29] noppaz commented on #287
Hey Jacob, thanks for looking over this idea.

I agree it sounds a bit like I want to have the cake and eat it too. Trying to keep things simple while not having to open up the VPC ingress was the goal here. From my point of view it could people set up and utilise dask distributed in a securer way more easily. But yes, I can agree that it might be better to force people to go the NAT gateway route

[2021-05-21 15:18] jacobtomlinson commented on #287
Using a NAT to allow internet access from within a private VPC is the AWS recommended best practice, so I think it's best for us to stick with that.

[2021-05-21 15:18] #287 closed

[2021-05-24 13:12] tiagoantao commented on #249
Just a note for someone trying to go around this. After you try to create a cluster with `security=True` the certificates will be appended to the `config`, so if you try to create a new cluster afterwards with `security=False` the config will be too big anyways. You need to cleanup the certs from config after the execution attempt with `security=True`.

[2021-06-01 07:51] valpesendorfer commented on #56
Hi @jacobtomlinson,

should this issue be resolved with #124 ?

I'm running `dask-cloudprovider==2021.3.1` and run into the same issues described above. When launching a cluster with a sizeable amount of workers (say 60) some of them fail to start, leaving the client waiting indefinitely. I tried both launching the cluster with the required number of workers and launching only with one and scaling

[2021-06-01 11:02] jacobtomlinson commented on #56
@valpesendorfer can you share any errors from ECS on why they failed to start?

[2021-06-01 12:22] valpesendorfer commented on #56
Apologies, should have checked that myself. Looks like I've ran out of public IPs within my subnet - some workers didn't even spin up with the error:

So it's an AWS issue, not a dask-cloudprovider one. Thanks!

[2021-06-01 12:52] valpesendorfer opened #288 "AWS Fargate: public scheduler /w private workers?"
I've recently ran into some issues with the fact that by default both the scheduler and workers get public IPs assigned within the cluster.

On the one side this seems to incur some unnecessary costs as

and in [another case](https://github.com/dask/dask-cloudprovider/issues/56#issuecomment-852080328) it had me running out of available IP addresses causing the workers to fail on startup.

What's t

[2021-06-01 15:23] jacobtomlinson commented on #288
My suggestion would be to use private networking for the Dask cluster and then make use of the [Jupyter server proxy extension](https://jupyter-server-proxy.readthedocs.io/en/latest/arbitrary-ports-hosts.html) to access the Jupyter dashboard via the public IP on the EC2 instance you're running Jupyter on.

[2021-06-01 15:46] valpesendorfer commented on #288
Ok, thanks. Seems like the easiest solution. I'll go ahead and close the issue.

[2021-06-01 15:46] #288 closed

[2021-06-01 16:57] ChrisJar opened #289 "The worker_module argument fails with unexpected keyword error"
**What happened**:
Using the `worker_module` argument when starting a cluster causes an unexpected argument failure.

**Minimal Complete Verifiable Example**:
This is a piece of code from the Dask cloud provider docs (https://cloudprovider.dask.org/en/latest/gpus.html):

[code]
returns
[code]

**Environment**:

- Dask version: 2021.04.0
- Python version: 3.8
- Operating System: Ubuntu 18.04
- Inst

[2021-06-01 19:06] AndrewHannigan opened #290 "Error on RegisterTaskDefinition when instantiating a FargateCluster"
Occasionally I see the following error when dask cloudprovider attempts to create a worker task definition while creating a Fargate cluster:

[code]

[2021-06-03 15:12] rpanai commented on #220
@jacobtomlinson  I can experience a similar problem on Fargate.

[2021-06-03 15:36] rpanai commented on #56
Hi I'm still having the same problem despite using the latest version of Dask and dask-cloudprovider.
If I'm processing many input with bag or delayed I still continue to receive the following error
[code]
long after all the computation is done. As consequence my script never ends and, as I'm using Airflow in order to manage my pipeline, I got stucked.

[2021-06-03 17:09] jacobtomlinson commented on #220
@rpanai could you please raise a separate issue as this `FargateCluster` and `GCPCluster` are two separate cluster manager implementations.

[2021-06-03 18:30] rpanai commented on #220
@jacobtomlinson No problem. Do you want me to delete the comments here?

[2021-06-04 08:53] jacobtomlinson commented on #220
No youre fine

[2021-06-04 13:14] rpanai opened #291 "FargateCluster timeout on exit"
When I close a Fargate cluster (similar to [#220](https://github.com/dask/dask-cloudprovider/issues/220#issue-765269946) )using

[code]
I receive the following error
[code]

[2021-06-07 15:55] akaanirban opened #292 "Dask Clouprovider Hangs indefinitely while creating AzureVMCluster because of kernel updates"
**What happened**:
While trying to create an AzureVMCluster, the cluster manager hangs indefinitely while bringing up the scheduler VM.

On looking closely at the `/var/log/cloud-init-output.log` , it appears that when the `cloud-init` script is trying to install `ubuntu-drivers` [in this line](https://github.com/dask/dask-cloudprovider/blob/6a629089b583469f70879943d7f127b77c315736/dask_cloudprovi

[2021-06-10 15:26] akaanirban opened #293 "[BUG] Cannot create VM using Azure Marketplace VM Image with plan via AzureVMCluster"
**What happened**:
Trying to create an AzureVMCluster fails if we use an Azure Marketplace VM (NVIDIA GPU-Optimized Image for AI & HPC) with a plan. This needs some plan information to be passed along while creating the VMs in a `plan` field. This field is not passed in the `vm_parameters`. Hence it is failing.

<details>
<summary>The actual error. </summary>
<p>

[code]
</p>
</details>

**What yo

[2021-06-11 13:26] jacobtomlinson commented on #290
Not sure. We call `register_task_definition` twice when the `FargteCluster` object is created, once for the scheduler and once for the worker.

Are you creating multiple `FargateCluster` objects or something?

[2021-06-12 16:24] heiqs commented on #279
I am facing with similar issue. Only scheduler works and no worker can be spawned. I set the roles as suggested above, but no success. There is no error in cloud-init-output log file.

[2021-06-14 09:27] jacobtomlinson commented on #279
That's great, thanks for digging into this.

Do you have any interest in raising a PR to document this?

[2021-06-15 09:13] #293 closed

[2021-06-15 14:50] aulemahal opened #295 "FargateCluster IAM permission list incomplete"
**What happened**:
After adding all IAM permissions listed in the doc to my AWS account, creating a FargateCluster still fails with `ClientError (AccessDeniedException)`. After adding the missing permissions, it failed again on another. I hope there are no other, the back and forth with those managing my account (in a different timezone) is a bit time-consuming.

**My code:**
[code]

**What you ex

[2021-06-15 15:11] jacobtomlinson commented on #295
Thanks for raising this and identifying the missing permissions!

[2021-06-15 15:33] #295 closed

[2021-06-25 13:56] DPeterK opened #297 "AzureVMCluster doesn't correctly load config"
**What happened**:
When I defined a default set of arguments for `AzureVMCluster` in `~/.config/dask/cloudprovider.yaml` and tried to create a cluster instance with no configuration arguments, I received an error.

**What you expected to happen**:
I would have expected to get an `AzureVMCluster` instance matching the config specified in the yaml file.

**Minimal Complete Verifiable Example**:

I s

[2021-06-28 09:36] jacobtomlinson commented on #297
Thanks for raising this @DPeterK.

You're right that this is a scoping issue. A PR to switch to `dask.config.get` makes sense here.

It is worth noting that `dask.config` has a special getter which allows use of the dot notation. At some point we set `self.config` to `dask.config.get("cloudprovider.azure.azurevm")` which is just a regular dictionary. My overall preference would be for `self.config

[2021-06-28 10:27] DPeterK commented on #297
Thanks for the input @jacobtomlinson! I'll have a look at raising that PR - I'll also take a look at the definition of `self.config` in case it does turn out to be a simple change...

[2021-06-29 08:40] DPeterK commented on #297
Hmm yes I see the challenge... You almost want `dask.config` to provide a class that subclasses `dict` and bakes in the custom getter functionality, so that other dask objects with a config can themselves subclass the dask config. Of course you don't want to make a breaking change to how dask config itself functions, as I imagine that `dask.config` is referenced in a very great number of places in

[2021-06-29 08:50] jacobtomlinson commented on #297
It is satisfying to see you follow the same thought process that I did initially when writing this. It feels like it should be straight forward but in terms of code readability, nothing is satisfying.

In an attempt to not let perfect be the enemy of good I compromised on sacrificing the dot notation and using `self.config.get`.

[2021-06-29 13:14] DPeterK commented on #297
I can only come up with one pattern for using a partial with config, and it doesn't work...
[code]
because:
[code]
I don't use partials very much! Am I missing a more obvious pattern? I'd typically go about this by using a class, such as:
[code]
Then:
[code]

[2021-07-01 13:41] #297 closed

[2021-07-06 18:26] adair-kovac opened #299 "FargateCluster defaults require too many VCPUs for a new AWS account"
I created a new AWS account to experiment with dask, but I can't create a cluster with any workers without specifying CPU settings:

[code]
Output:

/opt/anaconda3/lib/python3.8/contextlib.py:120: UserWarning: Creating your cluster is taking a surprisingly long time. This is likely due to pending resources on AWS. Hang tight!
  next(self.gen)
Task exception was never retrieved
future: <Task finish

[2021-07-07 11:34] jacobtomlinson commented on #299
Thanks for raising this @adair-kovac, sorry you had trouble here.

Our defaults should definitely be below the new account maximum, I can imagine others would also have this problem. We should drop the defaults.

Adding a section to the [troubleshooting docs](https://github.com/dask/dask-cloudprovider/blob/main/doc/source/troubleshooting.rst) may help make things more googleable here.

As you've r

[2021-07-07 14:39] adair-kovac commented on #299
@jacobtomlinson Of course! Can you confirm that the correct service quota would be "Running On-Demand Standard (A, C, D, H, I, M, R, T, Z) instances"? I had that raised and just verified that I can now create a larger cluster, but I also requested some other limits to be raised so I want to be sure this is the correct one.

[2021-07-08 10:27] jacobtomlinson commented on #299
@adair-kovac honestly I'm not sure

[2021-07-12 21:23] yuvipanda opened #301 "Connect to scheduler on GCP with IAP tunnels"
https://cloud.google.com/iap lets you tunnel to arbitrary ports securely on any GCP instance. Assuming the caller has permissions for this, a public IP is no longer necessary for connecting to the scheduler from the user notebook.

Very excited for dask-cloudprovider, it's come a long way since I first saw it! \o/ <3

[2021-07-20 14:35] akaanirban commented on #281
I ran this recently on GCP. I was unable to reproduce the `RefreshError: ('invalid_scope: Invalid OAuth scope or ID token audience provided.', '{"error":"invalid_scope","error_description":"Invalid OAuth scope or ID token audience provided."}')`  error. Something may have fixed it.

However, I did run into similar issues as Issue #292 . On looking at the `cloud-init-output.log` , it appears that t

[2021-07-20 15:53] jacobtomlinson commented on #281
Any of the RAPIDS images should be ok.

[2021-08-11 14:26] rossrochford opened #304 "Allow specifying different docker_image for scheduler"
I want to be able to run an AzureVMCluster with GPU workers but have no GPU on the scheduler. I can specify the scheduler_vm_size but this seems to cause issues with the CUDA docker image I'm using. I suggest adding an optional "scheduler_docker_image" argument.

[2021-08-12 15:02] jacobtomlinson commented on #304
The `scheduler_vm_size` kwarg is intended to allow you to select a VM with one GPU for the scheduler if you have chosen a VM size with multiple GPUs for the workers.

It is not advisable to run the scheduler with no GPU at all as there are edge case scenarios where GPU code can be deserialized on the scheduler.

[2021-08-12 19:24] rossrochford commented on #304
Thank you for the response. Ok, that is a shame given how expensive GPU instances are. I guess I can use Terraform instance and put the scheduler on a node shared with workers.

[2021-08-16 14:56] jacobtomlinson commented on #304
This package is intended for deploying ephemeral Dask clusters with many workers. So if you have 8, 16, 24 or even more GPUs then the cost of the scheduler is only a small percentage.

If you're looking to run just a single GPU workload this may not be the tool for you, you might not even need Dask. You may want to look into starting a GPU node yourself and then using [dask-cuda](https://github.co

[2021-08-16 14:56] #304 closed

[2021-08-16 15:27] rossrochford commented on #304
Thank you, yes I'm going to launch the cluster myself so I have a little more control.

[2021-08-24 17:55] gmorin opened #306 "a new PR in aoibotocore introduced a bug in AWS related code"
Running dask_cloudprovider with the latest version of aiobotocore (installed via pip) starting a fargate ecs dask cluster result in an exception:

[code]

[2021-08-25 16:28] #306 closed

[2021-08-27 13:27] anovv opened #308 "Add fractional CPU requests for ECS/Fargate"
Current implementation of ECS worker/scheduler configuration provider takes only integer (whole) CPU requests; AWS allows fractional CPUs (0.125, 0.25, 0.5).

See https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-cpu-memory-error.html

[2021-08-27 13:34] #308 closed, assigned to nobody

[2021-08-27 21:05] nmerket opened #309 "FargateCluster timeout (ThrottlingException) on cluster creattion"
**What happened**:

I went to start a `FargateCluster` and after while, got the following error:

[code]

When I look in ECS, the tasks are all there and running.

**What you expected to happen**:

A cluster to be created.

**Minimal Complete Verifiable Example**:

[code]

[2021-09-07 10:47] jacobtomlinson commented on #309
Thanks for raising this. I had hoped we had fixed this in #124.

[2021-09-08 14:44] nmerket commented on #309
Thanks for looking into it @jacobtomlinson. It's been pointed out to me that this is a pretty big cluster. My current workaround is to start a smaller cluster (10 workers) and then scale it up once its running. I still get the occasional timeout error, but it seems to work well enough for our purposes.

[2021-09-14 16:18] nmerket commented on #309
@jacobtomlinson I'm still running into a similar error in other parts of my workflow. It's always a `ThrottlingException` raised by `_update_task`. It looks like #124 wraps around `_update_task` to back off as necessary, for that one case but there are three other locations where it is called and can hit that exception. What do you think about moving the backoff code _inside_ `_update_task`? I thi

[2021-09-24 10:46] dirtyValera opened #311 "Support Fargate Spot?"
I'm trying to figure out how to run worker tasks on Fargate Spot. Looks like it is done by specifying FARGATE_SPOT capacity provider for a cluster (which is done by default, since we set launchType=FARGATE) and using a custom capacity provider strategy. What is not clear to me is to how to specify that scheduler task should use FARGATE capacity provider and worker tasks should use FARGATE_SPOT. Ac

[2021-09-24 14:23] jacobtomlinson commented on #311
This is a duplicate of #47

[2021-09-24 14:24] #311 closed

[2021-09-27 13:24] #309 closed

[2021-09-29 10:51] dirtyValera commented on #47
@jacobtomlinson I did some research on this and this is what I found:

As mentioned previously, to support running tasks on Fargate Spot, we need to [set appropriate capacity providers for the cluster](https://ecsworkshop.com/capacity_providers/fargate/). Let's assume we want the Scheduler task to run on `FARGATE `provider (no interruptions) and Workers on `FARGATE_SPOT`.

Current implementation o

[2021-09-29 11:21] jacobtomlinson commented on #47
We need to manage the worker tasks manually, so do you think we could do this the other way round and run the scheduler as a service with the `FARGATE` launch type?

Dask workers are stateful, they store tasks and futures on behalf of the user, so they generally do not play well with scalers that treat them as fungible. Therefore the Dask scheduler needs to be in control of selecting which workers

[2021-09-29 13:20] mreferre commented on #47
@dirtyValera

You can actually run a task that is not part of a service pointing to a capacity provider. You are right that there is no `launchType=FARGATE_SPOT` option, in that case you can use the `--capacity-provider-strategy` flag to point to the `FARGATE_SPOT` capacity provider. [This](https://docs.aws.amazon.com/cli/latest/reference/ecs/run-task.html) is the CLI version of the runTask docume

[2021-09-29 14:43] mreferre commented on #47
The `Handling Fargate Spot termination notices` in [this documentation page](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/fargate-capacity-providers.html) should put you on the right track.

There are two components to the interruption: handling the SIGTERM/SIGKILL sequence within the container and monitoring when the termination occurs. The former is business as usual as it's what

[2021-09-29 23:01] shireenrao commented on #249
Hello - I ran into this issue trying to setup a EC2Cluster

[code]

I tried passing in security=False to EC2Cluster and I am still seeing the error. Is there any work around for this to get working?

Thank you

[2021-09-30 07:13] dirtyValera commented on #47
@jacobtomlinson @mreferre

From [the docs](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/fargate-capacity-providers.html):

Do I understand correctly, if container has SIGTERM handling, we don't really need to handle termination notice from outside the container (since ECS sends both SIGTERM to the container and termination notice to EventBridge)? @jacobtomlinson do we need a worker

[2021-09-30 07:25] mreferre commented on #47
@dirtyValera yes, your understanding is correct. To be clear, we send the SIGTERM (and then SIGKILL after 2 minutes) to allow the container to shutdown properly. If it doesn't we will kill it anyway. We do this so that the interruption can be as graceful as possible. We also send the event to EventBridge so that your higher level external scheduling algorithm can take action (if it needs to). If y

[2021-09-30 08:46] dirtyValera commented on #47
On a different note, I was able to launch worker tasks on `FARGATE_SPOT` provider (thanks to @mreferre comment), but I'm seeing this error:

[code]

This goes down to [_set_address_from_logs](https://github.com/dask/dask-cloudprovider/blob/main/dask_cloudprovider/aws/ecs.py#L201) function. I'm not really sure what it does, @jacobtomlinson, could you give some context? For reference, I'm able to se

[2021-09-30 09:34] mreferre commented on #47
If `find` means `reach` in this case it could be that the layer2/3 networking may be misconfigured. Each task is connected to the VPC and it has a Security group associated. Routing is guaranteed inside the VPC by default across all subnets but SGs need to be configured so that traffic is allowed and not blocked.

Unless this is more of an application problem you are seeing in which case I'll shut

[2021-09-30 09:37] jacobtomlinson commented on #249
I'm surprised that `security=False` doesn't resolve this for you, that is the current workaround for this problem.

Could you check your Dask config to see if you can identify why it is so large?

[code]

[2021-09-30 09:54] jacobtomlinson commented on #47
We parse the logs from each task to find out what IP address the worker is running at. It looks like that is timing out. Can you verify that you are able to access the logs for these worker tasks?

[2021-09-30 12:47] dirtyValera commented on #47
@jacobtomlinson thanks, I'll investigate and get back to you. Can you also explain if workers handle SIGTERM and if the worker plugin needed?

[2021-09-30 12:55] jacobtomlinson commented on #47
Yeah workers should handle `SIGTERM` so there is no need to watch for the termination notice.

[2021-09-30 12:57] shireenrao commented on #249
@jacobtomlinson - I see what mistake I made. You pointed me in the right direction. When I first saw this error, I found this ticket. In the same repl session, I tried passing in the security=False and saw this error. In a fresh session, if you start with security=False, this works! Your comment above about Restarting your Python process or notebook kernel will clear out any cached certs makes sen

[2021-10-01 12:00] dirtyValera commented on #47
@jacobtomlinson I think I found the reason, the log line with the address takes longer to appear than default timeout. This seems to happen on `FARGATE_SPOT` only (for workers only) because , I assume, the infrastructure is slower (although I use the same resource spec and image for workers and scheduler). I also install additional pip packages on image initialisation (via `EXTRA_PIP_PACKAGES` env

[2021-10-01 14:02] mreferre commented on #47
[ tangential ] @dirtyValera I don't think this is related to SPOT specifically but rather to the fact that Fargate in general sources capacity from a mixed pool of hardware over which (for now) you don't have control. I can't say if it's more likely that this would occur more frequently on SPOT but I just wanted to call out that the dimension that allows you to save that much with SPOT isn't "bad

[2021-10-01 14:51] jacobtomlinson commented on #47
@dirtyValera I'm very much up for changing things here, this cluster manager is a little old now. Most cluster managers don't parse logs for this info anymore. But here's the rationale:

- Historically when we create the scheduler we had to block until the scheduler is running. One way to do this is wait for the log message that shows the IP. I think things are robust enough now that we can just g

[2021-10-02 09:28] dirtyValera commented on #47
I see, I'll make a separate issue to track this

[2021-10-02 09:28] dirtyValera commented on #47
@jacobtomlinson in the meantime, I made https://github.com/dask/dask-cloudprovider/pull/312 to add support for Fargate Spot, can you take a look?

[2021-10-02 09:36] dirtyValera opened #313 "Use ECS API to set Worker/Scheduler address instead of parsing logs"
From https://github.com/dask/dask-cloudprovider/issues/47

ECSCluster parses logs to get Worker/Scheduler address, this may lead to bugs. We can use ECS API to get private/public IPs

https://github.com/dask/dask-cloudprovider/issues/47#issuecomment-931056815
https://github.com/dask/dask-cloudprovider/issues/47#issuecomment-932166175
https://github.com/dask/dask-cloudprovider/issues/47#issuecommen

[2021-10-11 09:31] jacobtomlinson commented on #93
@myan-numagic could you raise a separate issue for this as you are talking about a different cloud.

[2021-10-12 21:26] marcelned opened #315 "Azure - Token Resource Error"
Running the example from the tutorial, ie

[code]

The following error keeps popping up:

![image](https://user-images.githubusercontent.com/82392567/137031235-1bd39361-62c0-4c2d-bd04-046ae55242b2.png)

Thanks for the help

[2021-10-13 10:41] jacobtomlinson commented on #315
Thanks for raising this @marcelned. Could you share the full traceback?

Thanks!

[2021-10-14 14:49] marcelned commented on #315
Here is the full environment:

'''yaml
name: dask_azure
channels:
  - conda-forge
dependencies:
  - appnope=0.1.2=py39h6e9494a_1
  - backcall=0.2.0=pyh9f0ad1d_0
  - backports=1.0=py_2
  - backports.functools_lru_cache=1.6.4=pyhd8ed1ab_0
  - ca-certificates=2021.10.8=h033912b_0
  - decorator=5.1.0=pyhd8ed1ab_0
  - ipython=7.28.0=py39h71a6800_0
  - jedi=0.18.0=py39h6e9494a_2
  - libcxx=12.0.1=habf90

[2021-10-15 09:51] marcelned commented on #315
@jacobtomlinson Tried installing `azure-mgmt-network==16.0.0`.

Unfortunately the error persists.

[2021-10-15 19:46] #315 closed, assigned to nobody

[2021-10-21 12:43] colt-jay commented on #291
Yes the work completes as expected. I'm also able to use the cluster and client in a notebook without issue until I call `client.close()` and `cluster.close()`.

[2021-10-21 14:24] jacobtomlinson commented on #173
Right I'm with you sorry. It seems that `dask_spec` doesn't support that today. Implementing that would have to be done upstream in `distributed`.

[2021-11-04 08:58] yunlongxu-numagic opened #318 "Pulling private image for AzureVMCluster?"
Originally asked in #93, and opening a new issue as suggested by @jacobtomlinson

Is it true that `AzureVMCluster` cannot pull private docker images as there are no way to pass in the credentials?

Apologies if this is actually possible but somehow I overlooked it from the documentation. If it indeed not possible, would it be something on the roadmap? (I assume a solution to pass in docker login c

[2021-11-04 10:21] jacobtomlinson commented on #318
Currently, the way to use private Docker images is to use a custom VM image that already has your credentials baked in. See the [docs here on creating custom images with Packer](https://cloudprovider.dask.org/en/latest/packer.html). The example on that page is for AWS so check the packer docs for the Azure equivalent options. You would want to add a `docker login` command to the `cloud-init` file.

[2021-11-04 13:20] yunlongxu-numagic commented on #318
@jacobtomlinson thanks for the pointer to Packer, it does look like it will solve my problem.

[2021-11-23 15:11] #318 closed

[2021-11-23 15:12] jacobtomlinson commented on #283
As there has been no activity here for a while I'm going to close this out. But if you're still experiencing this please feel free to comment.

[2021-11-23 15:12] #283 closed

[2021-11-30 19:53] drorspei opened #320 "Allow choosing number of threads in ECS workers"
The default number of threads per ECS worker task is the number vCPUs.

I'm using ECSCluster to start workers that run tasks which already use threading, so I would like the class to take a `worker_nthreads` argument, similarly to LocalCluster, so that I could set it to something lower than the current default.

What do you think?

[2021-11-30 20:49] drorspei opened #322 "Allow passing an existing scheduler to ECSCluster"
The currently supported workflow is to start an ECSCluster before doing any dask work, and only once it's started start doing work.

It would be very convenient if we could pass an existing scheduler address, not start a scheduler task, and the workers would connect to the passed address.

How about it?

[2021-12-01 19:15] #320 closed

[2021-12-02 01:16] ansar-sa commented on #173
Could we please request / create issue in distributed upstream to integrate this work.

For my use case it makes more sense to have a few very large machines than lots of small VMs.

[2021-12-02 11:14] jacobtomlinson commented on #173
The spec in `distributes` now accepts a list of specs. This does assume that nodes are regular as we would need to specify number of workers and cores/memory for each worker. But we should be able to implement this here now without needing any upstream changes.

[2021-12-08 17:54] seanmcclure22 commented on #268
Hello! Is this feature still being considered/worked-on? If not, do you have suggestions for setting up a dask cluster on an Azure ML Cluster?

[2021-12-09 12:42] jacobtomlinson commented on #268
There hasn't been much activity here I'm afraid @seanmcclure22. As AzureML uses MPI you may want to look at `dask-mpi`.

[2021-12-09 13:50] lostmygithubaccount commented on #268
hi @seanmcclure22! in addition to the `dask-mpi` suggestion, we do have a public example of how a Dask cluster can be setup on Azure ML compute here: https://github.com/Azure/azureml-examples/tree/main/cli/jobs/single-step/dask/nyctaxi

It uses the preview CLI (v2), but can also be adapted fairly easily to use the v1 Python SDK for spinning up the cluster.

CC: @danielsc

[2021-12-09 17:15] jacobdanovitch commented on #268
Can vouch for using `dask-mpi` within AML jobs, it works flawlessly. Haven't had a single issue so far.

[2021-12-09 17:26] jacobtomlinson commented on #268
@jacobdanovitch that's great to hear. Do you have any examples? It would be really nice to update the docs both here and in `dask-mpi` to help folks to do this.

[2021-12-09 17:30] jacobdanovitch commented on #268
@jacobtomlinson For sure, what kind of example would be helpful? There wasn't anything extra I had to do to make it work, I just used the mpi distribution in AML and initialized the cluster as shown in the docs.

[2021-12-10 09:57] jacobtomlinson commented on #268
@jacobdanovitch awesome! I think a step by step would be really useful. Perhaps you could point me to some AzureML docs for creating the MPI distribution and I can mash that together with an example from `dask-mpi`?

[2021-12-16 20:11] wfclark5 opened #327 "Certificate Verify Failed on ECSCluster"
**Description**
An attempt was made to create a Dask cluster on ECS with ECSCluster. I am receiving an SSL certificate verification error. Typically I solve this by providing the session created by aibotocore with the parameter "use_ssl=False". I have done so with s3fs in the past.

[code]

That doesn't seem to be an option so I tried setting the security argument to False as provided in the docum

[2021-12-20 15:44] tracek opened #328 "Fargate with spot instances fails with InvalidParameterException"
**What happened**:

Fargate (AWS) with spot instances fails with:

[code]

**What you expected to happen**:

Cluster creation succeeds and I get to enjoy spot instances on Fargate

**Minimal Complete Verifiable Example**:

[code]

**Environment**:

- Dask version: dask cloudprovider: `2021.6.0+16.g876ccba` (master), dask `2021.12.0`
- Python version: 3.8, 3.9
- Operating System: Ubuntu 18.04
- Ins

[2021-12-21 14:11] alfredodeza opened #329 "Azure: AttributeError when attempting authentication"
**What happened**: Followed the instructions to try out Dask with Azure from [the documentation here](https://cloudprovider.dask.org/en/latest/azure.html).  Installed `azure-cli` and `dask-cloudprovider[azure]` and tried the minimal example that resulted in a traceback (for reference `create.py` holds the minimal reproducible code also pasted in this ticket)

[code]

**What you expected to happen*

[2021-12-21 17:59] kinghuang opened #330 "Proposal: New implementation of ECSCluster"
I use `ECSCluster` heavily, but I find it has lots of small implementation issues that make it hard to reliably run large Dask clusters. Here's a laundry list of some of the problems I've run into.

* Task names are always derived from the cluster name. In a shared ECS cluster, task definitions overlap between multiple ECSCluster instances, making it impossible to tell what tasks belong to which D

[2022-01-04 11:21] jacobtomlinson commented on #327
Thanks for raising this. I guess we should add a `use_ssl` option and pass that through to boto. Do you have any interest in raising a PR to add this?

[2022-01-04 11:24] jacobtomlinson commented on #329
Thanks for raising this. We tend to have compatibility issues with the azure libraries from time to time, they seem to move fast and break stuff.

Agree that more aggressively pinning would be a good approach here. Do you have any interest in finding some compatible version ranges and making a PR?

[2022-01-04 11:28] jacobtomlinson commented on #330
If you are willing to take on this work I'd be very happy to review and test it.

A new implementation sounds reasonable. A good approach could be to open some PRS to start adding a new class and then at some point when it is feature compatible with the existing one we will switch them out. I'm not too worried about a breaking change at some point, folks can always pin versions. We did something s

[2022-01-04 15:12] TomAugspurger commented on #329
Based on ... isn't the right approach to replace https://github.com/dask/dask-cloudprovider/blob/main/dask_cloudprovider/azure/azurevm.py#L16 with the newer

[code]

possibly increasing the minimum required dependencies if necessary?

[2022-01-04 16:11] jacobtomlinson commented on #329
I think this was already done in  #326

[2022-01-04 16:31] FredericoSL opened #331 "AttributeError: 'CredentialAdaptor' object has no attribute '_token_retriever'"
------------------------------------------
Code
------------------------------------------
from dask_cloudprovider.azure import AzureVMCluster

cluster = AzureVMCluster(
    location="brazilsouth",
    resource_group="ResourceGroup1",
    vnet="VirtualNetwork",
    security_group="NetworkSecurityGroup1",
    vm_size="STANDARD_DS3_V2",
    n_workers=3)

#************* Using last versions of librari

[2022-01-04 18:54] kinghuang commented on #330
Cool, I will get started on this soon. And, I'm going to collect some stack traces in the meantime for future reference.

[2022-01-04 18:56] kinghuang commented on #330
Assorted exceptions.

<details>
<summary>
ThrottlingException when calling ListAccountSettings
</summary>

[code]
</details>

[2022-01-07 16:56] wfclark5 commented on #327
Absolutely! I'll give it a shot! Any initial direction would be helpful!

[2022-01-10 10:46] jacobtomlinson commented on #327
Great!

I expect you'll want to:
- Add a kwarg to the [cluster manager](https://github.com/dask/dask-cloudprovider/blob/876ccbabff2063e6629219fd5d381ead1c950ce7/dask_cloudprovider/aws/ecs.py#L458)
- Add the same option in the [config file](https://github.com/dask/dask-cloudprovider/blob/main/dask_cloudprovider/cloudprovider.yaml) with a default value
- Set an attribute with that option like [the o

[2022-01-10 15:34] jacobdanovitch commented on #268
@jacobtomlinson So sorry, just getting to this now. You can use MPI in AzureML using a commandJob and specifying the `distribution.type` as MPI (docs [here](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-train-cli#distributed-training)).

You need the `az` cli and the `az ml` extension installed (instructions [here](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-con

[2022-01-26 08:51] JonathanLifschutz opened #332 "Allow specification of secrets in scheduler and worker container definitions for ECSCluster / FargateCluster"
AWS allows you to [specify 'secrets'](https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_ContainerDefinition.html) in container definitions. This avoids having to call secrets manager directly in the application code.

The secrets key-value pair would need to be added to this block below (and again for the worker) based on init parameters.

[code]

I envisage reusing the same pattern us

[2022-01-26 10:33] jacobtomlinson commented on #332
A generic way to add extra keys to the container definition sounds great. Thanks for the offer to raise a PR, I look forward to reviewing it.

[2022-03-08 16:42] sergii-ivakhno-kidsloop opened #333 "dask_cloudprovider.utils.timeout.TimeoutException: Failed to find scheduler ip address after 120 seconds"
I am getting timeout after launching Fargate cluster
`dask_cloudprovider.utils.timeout.TimeoutException: Failed to find scheduler ip address after 120 seconds.`
I know this error has been reported before, but in my case it doesn't seem to be related to timeout duration as I get the same error after waiting for 5min

Looking into the source code it seems that the issue is due to parsing and getting

[2022-03-23 10:28] gcollot opened #337 "GCPCluster: extra_boostrap is not interpreted"
Hi,

I want to use `extra_boostrap` in order to log into private Docker registry (as suggested here: https://cloudprovider.dask.org/en/latest/troubleshooting.html#pulling-private-docker-images)

I tried 2 methods:

- Directly in cloudprovider.yaml as `config`
- And instantiating GCPCluster in python file as:

[code]

`extra_bootstrap` never seems to be interpreted when rendering template `cloud-in

[2022-03-23 13:52] #337 closed

[2022-03-25 03:53] RichardScottOZ commented on #328
I just had this happen, too.

'''python
Exception ignored in: <function Cluster.__del__ at 0x000001DF84B68CA0>
Traceback (most recent call last):
  File "C:\Users\rscott\AppData\Local\Continuum\anaconda3\envs\pangeo3\lib\site-packages\distributed\deploy\cluster.py", line 107, in __del__
    if self.status != Status.closed:
AttributeError: 'FargateCluster' object has no attribute 'status'
---------

[2022-03-25 04:40] RichardScottOZ commented on #146
Same problem here - no web browser dashboard connection. Using Docker container recommended in docs currently.

[2022-03-25 05:44] RichardScottOZ commented on #146
Timeout was a different dask version problem - but can't connect to the dashboard it seems via the web.

[2022-03-25 06:15] RichardScottOZ commented on #146
So is there a library the web browser connection depends on that could be wrong/missing or doesn't match from local environment to the container and cause a problem?

[2022-03-25 09:14] jacobtomlinson commented on #146
There aren't any local dependencies you would need to view the web page. I am wondering if this is some firewall rule or restriction on the AWS accounts you are using that blocks this traffic from being exposed to the internet.

[2022-03-26 23:31] RichardScottOZ commented on #55
I don't think I have come across this in docs
e.g. when making a Fargate Cluster
the packages in your local environment [example] must match those in the container you make for x - there are probably passing references to clients, schedulers and workers etc?

These are the packages it is critical to match for this to work at all :- [list]
Any others you add should also match.

What happens if say,

[2022-03-28 17:52] mmccarty opened #340 "DefaultAzureCredential failed to retrieve a token from the included credentials."
**What happened**:
After following the [authentication instructions](https://cloudprovider.dask.org/en/latest/azure.html#overview) using the Azure CLI, I'm unable to create a cluster on Azure.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

[code]
**Environment**:

- Dask version: 2022.3.0
- Dask Cloud Provider version: 2022.3.3
- Python version: 3.8.13
- Op

[2022-03-29 13:48] jacobtomlinson commented on #55
Typically with any Dask cluster we recommend that all environments match. You can sometimes get away with slight mismatches but we can't guarantee things will work in those cases so we don't recommend it. If your local environment has something that the worker does not and you try to use it in a task then the worker will die with an import error.

(General questions like this are probably more sui

[2022-04-20 02:37] jkanche opened #346 "dask cluster errors when adaptive scaling is enabled with a custom scheduler"

[2022-04-27 15:05] marclipoff-curative opened #344 "FargateCluster hangs due to `DescribeTaskDefinition` requests"
**What happened**: When I simply call `cluster = FargateCluster()`, the process hangs. This is due to dask making a `DescribeTaskDefinition` request for every registered task definition. And there are a lot in the account

**What you expected to happen**: I expect there to be a way to avoid this

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

**Environment**

[2022-04-29 16:33] marclipoff-curative commented on #344
@jacobtomlinson to you have a sense of when this will get picked up?

[2022-04-29 17:21] marclipoff-curative commented on #344
I could certainly try. Browsing through the code, it's not immediately obvious to me where the `DescribeTaskDefinition` request is being made. Do you have any direction on that?

[2022-05-02 16:39] marclipoff-curative commented on #344
I've solved this issue by using `skip_cleanup=True`.

[2022-05-02 16:39] #344 closed

[2022-05-03 20:48] tszumowski commented on #281
Just wanted to mention I ran into the same issue as @drobison00 . No need for me to paste the output. It's literally the same exact error.
[code]

This is with the example from the docs:

[code]

The only way I got it to work was by:
1. creating a service account,
2. Providing `Service Account User` IAM role to myself and the account (not sure if both were needed)
3. Using the service account key

[2022-05-04 07:48] arbazk007 opened #345 "EC2Cluster stays in hang state"
I am able to create EC2 instance (running state with failed instance) using below command but the cluster stays in hang state:

**Environment:**
Dask version: 2022.02.1
Dask Cloud Provider version: 2022.4.0
Python version: 3.9
Operating System: Ubuntu

Ports 8787 and 8786 are open in security groups.

[code]

<details>
<summary>Logs</summary>

[code]

</details>

Is there anything that I am doing

[2022-05-04 10:55] jacobtomlinson commented on #345
Looking at those logs it seems that the scheduler starts correctly. When you say "running state with failed instance" what do you mean?

[2022-05-04 11:09] arbazk007 commented on #345
When I click on created ec2 instance from console and go to monitoring tab, it shows status check instance failed. I thought this could be related as I even though my instance is in running state I cannot ssh to log into it. Also, as I mentioned, I am stuck at waiting for scheduler to run at 10.178.104.100:8786 and it doesn't proceed further.

[2022-05-04 12:26] jacobtomlinson commented on #345
Are you able to open the dashboard at `10.178.104.100:8787`?

[2022-05-04 12:31] arbazk007 commented on #345
I am using jupyter lab 1.2 (sagemaker studio) so right now I am not able to access dashboard.

[2022-05-04 12:53] arbazk007 commented on #345
It throws connection timeout error

[2022-05-04 13:48] jacobtomlinson commented on #345
That sounds like the security groups aren't set up correctly to allow access to `8786` and `8787` then.

[2022-05-06 14:21] jacobtomlinson commented on #346
Apologies for the delay in responding here, it dropped off my radar. This definitely seems like a `dask-cloudprovider` issue.

It seems like the `SchedulerAddress` class should be an awaitable object. We can make it one by adding an `__await__` method to it like we do in the actual scheduler object.

https://github.com/dask/dask-cloudprovider/blob/a9d4c5143e4a7491787efd8b8c05e68b5813bfc6/dask_clou

[2022-05-06 14:24] jacobtomlinson commented on #346
@jkanche could you try out the fix in #347 and let me know if that solves things for you?

[2022-05-11 19:21] davidvhill commented on #328
Hi @jacobtomlinson,

I have this issue corrected by adding capacityProviders=['FARGATE', 'FARGATE_SPOT'] when creating the cluster.

Currently working through the contributing instructions now.

Dave

[2022-05-12 09:43] jacobtomlinson commented on #328
Fixed in #348

[2022-05-12 09:43] #328 closed

[2022-05-12 14:46] jacobtomlinson commented on #47
I think we can close this out now.

[2022-05-12 14:46] #47 closed

[2022-05-15 19:55] lzalewsk opened #349 "AzureVMCluster not starting scheduler and workers with proper docker_image"
**What happened**:
I am trying to start Dask Cluster on Azure using dask_cloudprovider with my own docker image with following params
[code]
**What you expected to happen**:
I expected to see in logs
[code]
insted of
[code]
And finaly there is not possible to use adlfs package and read_parquet data from DataLake v2.
(wrong image :( )

**Anything else we need to know?**:

**Environment**:

- dask_c

[2022-05-16 10:27] jacobtomlinson commented on #349
Thanks for the report and sorry about the bug. Should be fixed in #350.

[2022-05-16 10:31] #349 closed

[2022-05-24 05:45] RichardScottOZ opened #351 "AWS EC2Cluster initialisation: AttributeError: module 'dask.config' has no attribute 'serialize'"
**What happened**:

Failed to start.

**What you expected to happen**:

Start a basic cluster.
Note that FargateCluster is fine with same container.

**Minimal Complete Verifiable Example**:

[code]

**Environment**:

- Dask version:
dask                      2.30.0                     py_0    conda-forge
dask-cloudprovider        2022.3.3           pyhd8ed1ab_0    conda-forge
dask-core

[2022-05-24 08:32] jacobtomlinson commented on #351
It looks like you are using a very old version of Dask and `dask-cloudprovider` requires at least `dask>=2021.01.1`. Could you update your Dask version and try again?

[2022-05-28 01:07] RichardScottOZ commented on #351
Not in this case, as other things will break.

When I get a chance I will make a new environment and new container and try.

[2022-05-30 10:40] jacobtomlinson commented on #351
Ok sure. I'm afraid many things in `dask-cloudprovider` rely on more recent features in `distributed` so we can't support versions that old.

I'm going to close this issue out as updating your version of `distributed` will resolve the issue. But feel free to comment further here if you need more support.

[2022-05-30 10:40] #351 closed

[2022-05-31 02:58] pwerth commented on #284
@jacobtomlinson I believe this is closed by https://github.com/dask/dask-cloudprovider/pull/353

[2022-06-10 10:00] RichardScottOZ opened #356 "Using environment variables/instance profiles in AWS EC2 Cluster problem?"
**What happened**:

[code]

As far as I can see - and I might be missing something - use of the boto3 client is not actually using any passed credentials, just the region_name - so if not a default, it will fail?

[code]

If I get it to use self.env_vars for example, it is ok but then I get:

[code]

**Anything else we need to know?**:

**Environment**:

- Dask version:2022.4.0
- Python version:3,

[2022-06-13 16:11] jacobtomlinson commented on #345
Were you able to check the security rules?

[2022-06-14 03:14] arbazk007 commented on #345
Yes, since dask cloudprovider doesn't provide an option to use private IP, we didn't use ec2 cluster. But yes, if we open ports 8786 and 8787 to all in security groups, it worked. Closing this issue.

[2022-06-14 03:14] #345 closed

[2022-06-14 09:28] jacobtomlinson commented on #345
👍. Just FYI private IP support was added in #353.

[2022-06-14 19:39] jkanche commented on #346
cool, that works. @jacobtomlinson is it possible to publish a new release version of this package ?

[2022-06-20 10:36] arbazk007 commented on #345
Thanks for the information @jacobtomlinson . I was able to create EC2 clusters using private ip.

[2022-06-30 17:54] WToma commented on #313
I looked into this, and I think an extra piece of complication is the port assignment: for workers, which currently listen on a random port, using the logs is needed to find the random port they chose during startup. That said, I couldn't find if the worker address is _actually_ needed directly by the `Client` or the `Cluster`. So maybe that could be removed.

[2022-07-01 12:45] jacobtomlinson commented on #313
I don't think the worker address matters. The workers are given the scheduler address and then they register themselves with the scheduler. The client and cluster do not need this information.

The only time this is a challenge is when the address the worker thinks it is listening on is different to the address the scheduler needs to connect to. This can happen in containerised environments with o

[2022-07-04 15:38] ig0rsky opened #359 "RuntimeError: cannot schedule new futures after shutdown thrown during cluster shutdown"
**What happened**:
RuntimeErrors are thrown at the end of execution when the cluster is being killed.
**What you expected to happen**:
No errors thrown during the shutdown procedure. I tested the same minimal example in a py3.8 env and could not reproduce this issue; however, I could reproduce the same issue in a py3.9 environment.

**Environment**:

- Dask version: 2022.6.1
- Python version: 3.10

[2022-07-07 04:00] jkanche commented on #346
@jacobtomlinson or @quasiben a follow up error shows up in the logs

[code]

[2022-07-07 14:13] jkanche opened #360 "SchedulerAddress might be missing a few props and methods"
Follow up to #346, @jacobtomlinson

[code]

[2022-07-07 16:13] jacobtomlinson commented on #360
@drorspei would you have some time to look at this?

[2022-07-07 17:03] drorspei commented on #360
Hey! I do have some time ^_^

I looked a bit at the code. I think that always returning Running in status might just be ok... I'm checking it now.

[2022-07-11 08:03] TobiasJacob opened #362 "Not enough values to unpack"
I'm trying to follow the [Minimal Dask Azure Tutorial](https://cloudprovider.dask.org/en/latest/azure.html). I used an existing resource group with a new vnet and security group created as described in the tutorial (except that I forgot to add the subnet flag).

However, the following code fails:

[code]

**What happened**:

I receive the following stacktrace. There is two things that should be im

[2022-07-12 19:08] jkanche opened #363 "Parameterize task name definitions"
on https://github.com/dask/dask-cloudprovider/blob/main/dask_cloudprovider/aws/ecs.py#L1264 the name of the worker task definition is hardcoded to `dask-worker`. This creates conflicts when I want to run multiple Fargate clusters, each with their own images and dependencies.

[2022-07-13 21:18] #360 closed

[2022-07-13 21:19] jacobtomlinson commented on #362
Thanks for raising this! Totally agree we should be catching this exception and handling it more gracefully. Do you have any interest in raising a PR to fix this up?

[2022-07-13 21:21] jacobtomlinson commented on #363
Thanks for raising this. Perhaps we should do two things here:
 - Make the task definition name configurable
 - Make the default task definition name a random UUID

[2022-07-14 21:48] jkanche commented on #363
@jacobtomlinson started this PR: https://github.com/dask/dask-cloudprovider/pull/364

[2022-07-26 18:22] michaellee1 commented on #56
Hi - I'm getting the same error as a previous user in this thread.

[code]

To my knowledge, there isn't anything I can do to increase this from Service Quotas.  This only happens when I send off a large Batch array job on Fargate.

[2022-07-27 08:40] jacobtomlinson commented on #56
@michaellee1 would you mind opening a new issue, this one is closed and hasn't seen any activity for over a year.

[2022-07-27 17:17] martinedgefocus opened #365 "EC2Cluster leaks VMs when adaptive scaling enabled if worker creation raises an exception"
From what I've seen from debugging the issue is this:

create_vm calls client.run_instances()
subsequent call to client.create_tags() fails, exception is not caught.
The instance now exists, but is not returned. It will show up in the "observed" pool, but is not counted for scaling, so over time, hundreds of additional instances can be allocated, burning a huge AWS bill.

Proposed solution:
1. Ret

[2022-07-28 09:00] jacobtomlinson commented on #365
Thanks for raising this, we definitely don't want to be leaking VMs and not cleaning them up.

The proposed solution sounds great, do you have any interest in opening a PR to fix this?

[2022-07-28 12:52] martinedgefocus commented on #365
I don't think I have permissions to create a branch, and unclear how to create a PR without that?
I'll put the flat patch below to look at, but if you can give some guidance on how to create a PR, I'll do it properly.

1. Pulled out the postprocessing into configure_vm, and wrap in try/catch
2. Put create_tags in a timeout loop.
3. moved initialization of the backoff variable outside of the timeou

[2022-07-28 12:59] martinedgefocus opened #366 "Spot instance support for EC2"
This works from a touch test, will keep working with it here, but interested in any feedback / collaboration
Seems fairly simple, concerns are:

1. We don't want a spot instance for the scheduler. checking if worker_class is present seems to work, but is not elegant.
2. Unclear what behaviour will be when spot instances are reclaimed. I'm hoping it will gracefully recover and delete the worker?

[

[2022-07-29 14:21] jacobtomlinson commented on #48
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/spot-instance-termination-notices.html

[2022-07-29 14:24] jacobtomlinson commented on #366
It would be great to support this! We already support spot in the `ECSCluster` manager and it would be awesome to have it here too.

I would expect that when the VM is terminated it will be gracefully shut down, so the process gets a `SIGTERM` and it will attempt to notify the scheduler and push any memory off onto other workers.

Depending on how much memory is on the worker the time allowed to s

[2022-08-01 21:50] martinedgefocus commented on #365
https://github.com/dask/dask-cloudprovider/pull/367
I think this is correct, but not my usual workflow; apologies if it's messed up

[2022-08-02 08:48] jacobtomlinson commented on #365
Fixed by #367

[2022-08-02 08:48] #365 closed

[2022-08-09 23:24] pwerth opened #370 "EC2Cluster does not wait for workers to complete setup"
When creating a Fargate cluster, the workers are always already connected to the scheduler by the time the Python code terminates. In other words, running

[code]

prints the following

[code]

Namely, `'workers'` is populated with the two workers I requested. And I can verify by going to the dashboard that they are in fact connected to the scheduler and ready for work.

However, when I create an

[2022-08-10 12:48] jacobtomlinson commented on #370
I don't think we should ever assume that all workers will be ready when the cluster instantiation finishes. If `ECSCluster` guarantees that they are ready every time that is just a coincidence.

Generally, we recommend folks use `Client.wait_for_workers(n)` if they need a certain number of workers before continuing. I'm not sure also adding that method to the `Cluster` object adds much value given

[2022-08-10 14:51] pwerth commented on #370
Thanks for the reply! I wasn't familiar with the `wait_for_workers` method but that's exactly what I need.

[2022-08-10 14:51] #370 closed

[2022-09-01 14:14] TomAugspurger opened #374 "Investigate using VM scale sets for Azure"
Azure has the concept of a [VM Scale Set](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/overview), which is a way to manage a group of related VMs.

If I understand the [current implementation](https://github.com/dask/dask-cloudprovider/blob/c1e91f39edd5d14e27bd71ecaae0851654890a0d/dask_cloudprovider/azure/azurevm.py#L30) correctly, there's a single `AzureVMWorker` per `n_worke

[2022-09-01 18:00] BadAsstronaut opened #375 "AWS - ECS/Fargate Cluster - When providing a `scheduler_address`, calling `cluster.close()` terminates the remote scheduler via tcp"
**What happened**:
Calling `cluster.close` from a FargateCluster instance terminates the remote scheduler process.

[code]

**What you expected to happen**:
The FargateCluster initiate resources should clean up.

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:
This was a bugaboo to debug. Some breadcrumbs:

dask.distributed Scheduler [close](https://github.com

[2022-09-02 14:30] jacobtomlinson commented on #375
Ouch that does sound painful to debug, sorry you had a bad time!

You're right it looks like

[2022-09-02 14:43] #313 closed

[2022-09-05 12:41] #135 closed

[2022-09-06 19:49] TomAugspurger commented on #374
Thanks for that context. I see now that VMSS [can autoscale](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-autoscale-overview), but I've never used that. I've only used them with something else controlling the scale (in this case Dask).

Since it's not immediately clear that the current 1:1 mapping between VMs and workers is a problem, I think I'll ju

[2022-09-06 19:49] #374 closed

[2022-09-08 21:50] TomAugspurger opened #376 "AzureVMCluster uses deprecated method to get the subscription ID"
Currently `AzureVMCluster` infers the Azure subscription ID with a deprecated method: https://github.com/Azure/azure-sdk-for-python/blob/12fb3daae6a69d99ff67a64ed52a1fb99671836b/sdk/core/azure-common/azure/common/credentials.py#L17-L28

It'd be nice to avoid that. I think that we could add a `subscription_id` argument to `AzureVM.__init__`. We might even want to make it required like `resource_gro

[2022-09-09 00:40] mattalhonte-srm opened #377 "Different Values for Memory and memoryReservation for AWS ECS Clusters?"
Heya!  Been looking into the guts of Task Definitions for ECS Clusters in AWS, and I saw that `memoryReservation` seems like a pretty handy one for Data Science workloads (where overall memory usage can vary a lot over the course of a run).

Basically, it's a Soft Limit - so like if you have a job that mostly consumes 12GB but occasionally spikes to 27, you can set it to `memoryReservation` to, sa

[2022-09-09 14:29] TomAugspurger commented on #376
I'm looking into the dependencies a bit, and I think this is the current state:

`azure-cli-core` is used to get the default Azure subscription configured for the Azure CLI. Starting with azure-cli-core>=2.21.0`, there doesn't seem to be an officially sanctioned way to get the "default" subscription ID from a Python API. You can call `az account list -o json` in a subprocess and parse the JSON out

[2022-09-09 14:38] jacobtomlinson commented on #376
Ah that's a shame! I kinda liked that it used the default subscription from `az` and that you could change your subscription with `az account set`. That way if you create a cluster with `AzureVMCluster` and use `az` to list your VMs they will line up.

If we require the subscription ID to be set for each cluster they could in theory set a different subscription to whatever `az` is using and result

[2022-09-09 14:38] jacobtomlinson commented on #376
_Also it's good you have you around here @TomAugspurger!_

[2022-09-09 14:57] TomAugspurger commented on #376
Yeah, it is a shame. If you're ok with a `subprocess` call, this doesn't seem like too much of a maintenance burden:

[code]

I'll include that in the PR (I still think being able to override the subscription_id, along with the resource_group, is handy for environments like a docker container where you might not have the Azure CLI installed / configured).

[2022-09-09 15:22] jacobtomlinson commented on #376
Yeah that sounds great, would be nice to do this if we can. Totally agree that being able to set this via config makes sense too.

Thanks for looking at this!

[2022-09-12 13:26] jacobtomlinson commented on #377
Thanks for raising this. In #358 we added support for specifying custom task definitions. I'm hesitant to keep adding more and more arguments, I think this kind of thing is at the point where you should just switch to custom task definitions.

[2022-09-12 13:26] #377 closed

[2022-09-12 17:06] #376 closed

[2022-09-12 18:25] TomAugspurger opened #379 "Azure integration tests failing"
Discovered in #378, the Azure integration tests are failing:

[code]

I'll look into this, once I can figure out how to enable all the logs in Azure.

[2022-09-13 16:45] pwerth opened #380 "`EC2Cluster` support for multiple instance types"
## Background

With large clusters of popular instance types, it's not uncommon to get `InsufficientInstanceCapacity` errors from AWS. My idea to get around this is as follows.

## Desired Feature

Instead of specifying one worker instance type, one could instead specify a (sorted) list of instance types [X, Y, Z, ...]. If 100 workers are requested, we attempt to create 100 instances of type X. If

[2022-09-13 23:14] EmilRex commented on #242
Wanted to share a few tips that I encountered while looking into this issue:
1. When using the `DaskTaskRunner`, only tasks that are invoked with `.submit()` are scheduled on Dask. Invoking the task function directly causes it to be executed locally.
2. Any Dask nodes must have Prefect installed. Note that the `daskdev/dask` image exposes an `EXTRA_PIP_PACKAGES` environment variable that can be us

[2022-09-27 10:12] jacobtomlinson commented on #380
This sounds interesting, definitely a power user feature as you say.

When it comes to power-user features I like to err on the side of non-breaking so that regular users can just ignore it. I really like the idea of making `worker_instance_type` optionally take a list, seems like a very minimal impact. I'm not a big fan of renaming the argument.

If you have interest in raising a PR I think this

[2022-09-30 15:49] jgdwyer opened #381 "Remove IAM actions from minimal policy for AWS FargateCluster"
In the interest of minimizing the number of permissions that we need to provide to the cluster manager, I'd like to explore the option of removing the need for `iam:ListRoles` and `iam:ListRoleTags` [actions](https://github.com/dask/dask-cloudprovider/blob/9f5e73047a082cb322c50c2ec0d6cd33b8950d31/dask_cloudprovider/aws/ecs.py#L1471-L1472) if all resources are specified when creating the cluster. L

[2022-10-03 16:50] jgdwyer commented on #381
I was thinking to automatically skip the role cleanup if the roles were provided, but to keep the rest of the automatic cleanup in place. But perhaps there are other cleanup steps that can be skipped as well if their resources are directly provided?

[2022-10-05 09:56] emkademy commented on #173
Are there any news on this issue?

[2022-10-06 15:48] jgdwyer commented on #381
Yup I can put something together!

[2022-10-07 04:57] cdc97 commented on #95
Hey @jacobtomlinson,
not sure whatever happened here, but I'm trying to set up an example cluster in aws and happened across the same tutorial mentioned at the top of the post.

I created an ECS Cluster from the AWS console, using all of the defaults (creating new roles, etc). I have a single g4dn.4xlarge instance spun up for my ECS cluster. I also have admin aws perms on my local machine.

When r

[2022-10-07 14:02] jacobtomlinson commented on #95
Yeah looks like this issue lost steam with the OP not having time to debug further. Thanks for following up with all the info I asked for.

The startup code for the worker task creates the task and then wait 60 seconds for the task to run before giving up. Looking at the error response we can see that the task is never created and instead has an error of `ATTRIBUTE` which is not especially helpful

[2022-10-10 09:35] quadrupole opened #382 "Can we do a release"
**Describe the issue**:
I installed via

[code]
Checking my version:

[code]

Now according to the docs and the code in `main`, I expect to be able to supply `scheduler_instance_type` and `worker_instance_type` to `EC2Cluster`, however:

[code]

**Anything else we need to know?**:

**Environment**:

- Dask version: 2022.02.0
- Python version: Python 3.9.13
- Operating System: mac OS Monterey
- Ins

[2022-10-11 08:54] JustasUrbonas opened #383 "M1 MacBook compatibility (cryptography dependency)"
dask-cloudprovider = {extras = ["azure"], version = "^2022.8.0"}

Dask Azure cloud provider depends on cryptography < 4.0 which is incompatible with M1 MacBooks.

[2022-10-11 21:43] cdc97 commented on #95
Sorry, never got an email that you had responded!
This error ended up being due the ec2 instance being in a different security group and subnet than the cluster (which was surprising, considering I used aws defaults to set everything up). So no ec2 instances existed with my target security groups, and therefore no ec2 instances matched my requested attributes. Seems like AWS could provide better e

[2022-10-13 22:00] cdc97 opened #384 "Cannot spin up ECS GPU worker with current versions"
**Describe the issue**:
My GPU worker cannot start via the
[code]
that gets passed in from `ecs.py`. Dask-cuda seems to have removed the `--death-timeout` option, so upon startup of the worker, I see
[code]
I'm unfortunately trying to run this from prefect, so I can't pin to a low enough version of dask-cuda and distributed that do have this argument specified. When I try to pin to a low enough ve

[2022-10-14 16:02] jacobtomlinson commented on #383
It looks like this is a transient dependency brought in by one of the Azure packages, so not something we can resolve here. It would need to be fixed in the azure library.

cc @TomAugspurger

[2022-10-14 16:07] jacobtomlinson commented on #382
Yup looks like we need to do a release, I'll aim to get one out next week.

[2022-10-14 16:08] jacobtomlinson commented on #95
Ok great! I'll close this out then but if you need anything else don't hesitate to comment.

Do you think there are docs improvements we could make to avoid others running into this?

[2022-10-14 16:08] #95 closed

[2022-10-14 16:11] jacobtomlinson commented on #384
Looks like this was removed in https://github.com/rapidsai/dask-cuda/pull/563. cc @charlesbluca @pentschev

I'm surprised this hasn't come up until now.

[2022-10-14 18:32] pentschev commented on #384
I'm not familiar with `dask-cloudprovider`, is `--death-timeout` something generally important or is it something that it can live without?

[2022-10-14 20:18] cdc97 commented on #95
I actually think the improvement should be on AWS's side--like if a user hits a 'no instance has the required attributes' error, they should probably list out the instances that were considered. It would have made this much more apparent, if they showed the subnet being considered, along with 0 instances available in said subnet, rather than just a vague `'failures': [{'arn': 'arn:aws:ecs:us-west-

[2022-10-18 10:37] jacobtomlinson commented on #249
We enabled `security=True` by default because other default behaviour can cause your cluster to be exposed to the internet. However, Dask is typically deployed with `security=False` and folks use network-level security to secure their clusters, so I'd push back against this not being a production-grade workaround. For example, on Kubernetes you would use a service like Istio to handle this at the

[2022-10-18 10:37] jacobtomlinson commented on #95
Maybe raise this via AWS support? They are pretty good with listening to user feedback and passing it along to their teams.

[2022-10-18 10:39] jacobtomlinson commented on #384
I would say it is an important feature. One of `dask-cloudprovider`s goals is to fail cheaply, so if a worker cannot connect to a scheduler after a timeout it should shutdown/terminate to save money.

[2022-10-20 21:37] quadrupole commented on #382
Thanks @jacobtomlinson

[2022-10-21 10:22] #382 closed

[2022-10-21 11:10] TomAugspurger commented on #383
@JustasUrbonas dask-cloudprovider 2022.10.0 is out on PyPI now. Are you able to try installing again?

[2022-10-24 17:20] joeschmid opened #386 "Change to Scheduler Address Parsing Breaks TLS Encryption Support"
We're still investigating more but we believe this recent PR https://github.com/dask/dask-cloudprovider/pull/373 broke Dask Cloud Provider provisioned clusters on AWS that use TLS encryption. Previously, when the scheduler address was parsed from logs, it would correctly parse the url prefix of `tls://` to indicate the Dask client should use TLS. With the PR, no prefix seems to be included for the

[2022-10-25 09:47] jacobtomlinson commented on #386
Thanks for raising this @joeschmid. I expect we should be able to check the `security` kwarg and set the appropriate protocol.

@tamas4sunairio would you be able to take a look?

[2022-10-25 17:15] tamas4sunairio commented on #386
Yeah, I think @joeschmid's analysis is right. Sorry about that! It would make sense to me to supply a `tls` argument to the `ECSCluster` class, which would inform whether the `address` property should be prefixed with `tcp://` or `tls://` (are there any other options?)

Alternatively, we could introspect the `scheduler_extra_args` / `worker_extra_args` arguments to check if TLS related configurati

[2022-10-25 21:38] tamas4sunairio commented on #386
I made an implementation of the "middle ground" version above. Let me know what you think! @joeschmid I didn't get a chance to test the TLS part, would you be able to check out the PR and see if that solves the problem?

[2022-10-27 02:10] joeschmid commented on #386
@tamas4sunairio thanks so much for the quick turnaround! I like the "middle ground" approach that you went with. We can definitely help to test and confirm that it addresses the issue.

[2022-10-28 08:54] #386 closed

[2022-10-31 18:16] vkarunarthne commented on #73
This would be great feature if supported

[2022-11-04 05:28] kumarprabhu1988 commented on #173
@jacobtomlinson I tried this on `EC2Cluster` like this:
`ec2_cluster = EC2Cluster(
    env_vars=env_vars,
    extra_bootstrap=EC2_BOOTSTRAP_COMMANDS,
    filesystem_size=cluster_config["volume_size"],
    instance_tags=cluster_config["ec2_instance_tags"],
    n_workers=cluster_config["n_workers"],
    #worker_class="distributed.nanny.Nanny",
    worker_options={i: {"cls": Nanny, "options": {"nthre

[2022-11-04 15:51] jacobtomlinson commented on #173
@kumarprabhu1988 I think the `cls` need to be a string, and it probably needs to be `"distributed.nanny.Nanny"`.

[2022-11-04 16:28] kumarprabhu1988 commented on #173
@jacobtomlinson So I tried this, and no ec2 worker machine creation fails and there are no workers created.

[2022-11-04 16:52] filpano opened #388 "Add the ability to configure EC2Cluster to start a publicly accessible Scheduler while keeping Workers private"
For existing discussion, see [this](https://dask.discourse.group/t/how-to-pass-private-ip-of-scheduler-to-dask-worker-running-on-ec2/1259/4) Discourse thread.

---
I have a use case where I wish to develop something locally and then start up a `dask_cloudprovider.aws.EC2Cluster` such that all Scheduler/Worker communication happens on the internal EC2 Network (i.e. via the private VPC/Subnet IP add

[2022-11-04 16:59] filpano commented on #388
If time allows, I'd love to work on this to also get more familiar with the `dask_cloudprovider` ecosystem since it does not seem like an overly complicated problem, especially if a similar solution already exists for ECS.

I'm relatively new to Python and Dask, though, so I might need a bit of hand-holding/a few pointers to get started... if that's acceptable, let me know.

[2022-11-07 10:52] jacobtomlinson commented on #173
Could you set `debug=True` and grab the `/var/log/cloud-init-output.log` logs from the instances so we can see what went wrong?

[2022-11-08 04:28] kumarprabhu1988 commented on #173
Sure, I can do that. In the meanwhile I looked at the code and tried a to pass in worker configuration with some code changes and it worked. [Here's](https://github.com/dask/dask-cloudprovider/pull/389) the change I made. Let me know what you think.

[2022-11-10 19:19] jrbourbeau opened #390 "Support different machine types for scheduler and workers on GCP"
In https://dask.discourse.group/t/different-machine-types-for-scheduler-workers/1300 someone was asking for the ability to specify different machine types for their scheduler and workers on GCP. IIUC this isn't current implemented for `GCPCluster` but is for other managers (e.g. `EC2Cluster`). This seems like a reasonable feature request, so I wanted to log it here so we don't loose it.

[2022-11-10 19:21] jacobtomlinson commented on #390
Yeah this was merged for the AWS `EC2Cluster` in #369. If someone wants to contribute the same for GCP it should be a good reference.

[2022-11-23 13:16] momits commented on #301
+1, IAP is a security requirement in many organizations. Enabling this would be very helpful!

[2022-11-25 04:23] b-y-f opened #392 "Unable to parse response (no element found: line 1, column 0), invalid XML received. Further retries may succeed"
I will get this error sometimes before I start the cluster, but after a few times of retry, it finally succussed.

- Dark version: latest
- Python version: 3.10
- Operating System: macOS m1
- Install method (conda, pip, source):

[2022-11-25 10:32] jacobtomlinson commented on #392
This looks like a bug in `botocore`. Could you raise a ticket there?

[2022-11-29 03:06] b-y-f commented on #392
they will not fixed

[2022-11-29 17:10] jacobtomlinson commented on #392
They seem to be pointing towards `aiobotocore` (or us) as being the issue.

This is the code snippet that seems to be failing for you.

[code]

Can you run this and see if you get the same error?

[2022-11-29 21:13] b-y-f commented on #392
[code]

[2022-11-30 10:35] jacobtomlinson commented on #392
Where did you run that code? Seems like you already have some event loop going, are you using Ipython?

[2022-11-30 10:47] b-y-f commented on #392
Yes, inside notebook

[2022-11-30 10:49] jacobtomlinson commented on #392
Ok then you don't need to start the loop.

[code]

[2022-11-30 10:50] b-y-f commented on #392
Seem with https://github.com/dask/dask-cloudprovider/issues/392#issuecomment-1331960754

[2022-11-30 10:51] jacobtomlinson commented on #392
Ok but if you use `FargateCluster` you're still seeing the error?

[2022-11-30 13:14] jacobtomlinson commented on #392
Can you set `skip_cleanup=True` in the `FargateCluster` call?

[2022-11-30 20:17] b-y-f commented on #392
Works!

[code]